.header{
    text-align:center;
    background-color:green;
    height:200px;
  }
  .desc{
    border-bottom:5px rgb(221, 42, 42) solid;
    
  }
  marquee{
    color:red;
    font-size:20px;
    behavior:alternate;
  }
  
  .dept{
  border-bottom:5px rgb(216, 54, 54) solid;
  width:160px;
  color:#6495ED;
  }
  .portimage{
  text-align:center;
  }
  #plant{
  
  margin-right:25%;
  }
  
  a:hover{
  background-color:rgb(206, 57, 57);
  width:100px;
  }
  .portal{
  background-color:#F0FFFF;
  
  }
  
  .agri{
  margin-right:35%;
  color:green;
  
  
  }
  
  .stud{
  color:red;
  }
  
  
